// _index.scss

h1 {
  color: orange;
}

h2 {
  color: blueviolet;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
